@import "tailwindcss";

@theme {
  --color-darling-cream: #F5EFE8;
  --color-darling-brown-100: #7E676B;
  --color-darling-brown-200: #301D20;
  --color-darling-pink: #F1E4E7;
  --color-darling-dark: #4a3535;
  --color-darling-blue-100: #F0F8FF;
  --color-darling-blue-200: #3678E2;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0px #ffffff;
}